.account-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4vh 3vw;
    max-width: 50vw;
  }
  
  .account-info, .address-info {
    margin-bottom: 3vh;
    padding: 3vh 2vw;
    background-color: #e1e4e9;
    border-radius: 1.5vw;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.15);
  }
  
  .account-info h2, .address-info h2 {
    font-size: 1.2em;
    margin-bottom:  1.5vh; 
  }
  
  p {
    margin: 5px 0;
  }
  
  strong {
    color: #333;
  }

.opening-hours {
  background-color: #e1e4e9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2vh 3vh rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-right: 2vw;
}

.opening-hours .btn-warning {
  font-weight: bold;
}

.opening-hours .list-group-item {
  font-size: 1.1em;
  font-weight: 500;
  text-align: center;
}
.row{
  width: 100%;
}
